.jumbotron {
  padding-top: 5rem;
  background-color: #e9e9b2;
}
section {
  padding-top: 5rem;
  background: #c7c71a;
}
.particles-bg-canvas-self {
  background: rgb(170, 16, 16);
}
body {
  background: #c7c71a;
}
