.jumbotron {
  padding-top: 5rem;
  background-color: #42413f;
  color: aliceblue;
}
section {
  padding-top: 5rem;
  background: #c7c71a;
}
.particles-bg-canvas-self {
  background: rgb(170, 16, 16);
}
body {
  background: #c7c71a;
  font-family: sans-serif;
  font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.container div {
  overflow: hidden;
  border-radius: 5px;
}
.container div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}

.container div:hover img {
  transform: scale(1.1);
}
.container div .title-box {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0)) z- index 1;
}
